body {
    background-color: rgb(69, 77, 69);
}

h1 {
    font-size: 2rem;
}

header {
    height: 100dvh;
}

.logo>img {
    width: 89px;
    height: 24px;
}

.logo {
    margin-left: 10px;
}

.nav-buttons {
    margin-right: 10px;
}

.langLogo {
    width: fit-content;

    &>.lang {
        display: none;
    }
}

.email-container {
    top: 100px;
}

.email-box>.heading1 {
    font-size: 2rem;
    padding: 0px 10px;
}

.email-box>.heading2 {
    font-size: 1.5rem;
    padding: 0px 10px;
}

.email-box>.heading3 {
    font-size: 1rem;
    padding: 0px 10px;
}

.getstarted,
.footer-getstarted {
    gap: 10px;
    padding-top: 25%;
    justify-content: center;
}

.getstarted>input {
    box-sizing: border-box;
    height: 40px;
    width: 275px;

    &:focus-visible::placeholder {
        color: transparent;
    }
}

.getstarted>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    text-wrap: nowrap;
    height: 38px;
    padding: 5px 10px;
    font-size: 1rem;

    &>div {
        font-size: 1rem;
    }

    &>img {
        height: 15px;
        width: 15px;
    }
}

/* Section starts from here */
.section {

    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    height: fit-content;
    width: 100%;
    min-height: 502px;
    margin: 8px 0px;
    background-color: black;
    justify-content: space-around;
    align-items: center;

    &>.section-sub-box {
        width: 100%;
        height: fit-content;
        display: flex;
        padding: 30px 0px;
        padding-top: 50px;
        justify-content: center;
        /* background-color: red; */

        /* section 1 text box */
        & .sec1-text {
            /* display: flex; */
            right: 0px;
            scale: 1;
            width: 100%;
            padding: 30px 10px;

            /* justify-content: center; */
            &>.section-heading1 {
                text-align: center;
                font-size: 2rem;
            }

            &>.section-heading2 {
                text-align: center;
                font-size: 1.5rem;
            }

        }

        /* video tv box */
        &>.video-tv-box {
            width: 100%;
            scale: 1;
            position: relative;
            display: flex;
            overflow: hidden;
            left: 0px;

            /* justify-content: center; */
            &>.tv-frame {
                position: absolute;
                /* width: 100%; */
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}


/*  section 2 starts from here */
.section2 {

    /* display: flex; */
    position: relative;
    /* flex-wrap: wrap; */
    height: fit-content;
    width: 100%;
    min-height: 502px;
    margin: 8px 0px;
    background-color: black;
    justify-content: space-around;
    align-items: center;

    &>.section2-sub-box {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 10px;
        justify-content: center;

        & .section2-heading1 {
            font-size: 2rem;
            text-align: center;
            line-height: inherit;
        }

        /* Section 2 Image box */
        &>.section2-image-box {
            top: 0px;
            right: 0px;

            &>.stranger-thing-box {
                bottom: 25px;
            }
        }

        /* Section 2 text box */
        &>.section2-textbox {
            padding: 30px 10px;

            &>.section2-heading3 {
                text-align: center;
                font-size: 1rem;
            }
        }

    }
}

/* Section 3 starts from here */
.section3 {

    /* display: flex; */
    /* position: relative; */
    /* flex-wrap: wrap; */
    height: fit-content;
    width: 100%;
    min-height: 502px;
    margin: 8px 0px;
    background-color: black;
    justify-content: space-around;
    align-items: center;

    &>.section3-sub-box {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 10px;
        justify-content: center;
        gap: 50px;

        /* Section 2 text box */
        &>.section3-textbox {
            padding: 10px;
            width: auto;
            position: static;
            padding-left: 20px;

            &>.section3-heading1 {
                line-height: normal;
                font-size: 2rem;
                text-align: center;
            }

            &>.section3-heading3 {
                text-align: center;
                font-size: 1rem;
            }
        }

        &>.sacred-games-box {
            width: 100%;
            position: static;
            display: flex;
            justify-content: center;
            scale: 1;

            &>img {
                width: 340px;
                height: 255px;
            }

            &>.sg-video-box {
                width: fit-content;
                height: fit-content;



                &>video {
                    width: 220px;
                    position: relative;
                    top: 1%;

                }
            }
        }

    }
}

/* Section 4 starts from here */

.section4 {
    height: fit-content;

    &>.section4-sub-box {
        padding: 50px 10px;
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;

        & .kids-imagebox>img {
            aspect-ratio: 4/3;
            width: 100%;
            height: 75vw;
        }

        &>.section4-text-box {
            padding: 20px 10px;

            &>.section4-heading1 {
                text-align: center;
                line-height: normal;
                font-size: 2rem;
            }

            &>h3 {
                text-align: center;
                font-size: 1rem;
            }
        }
    }
}


/* Footer section starts from here */

.footer-section1{
    height: fit-content;
}

.list-box {
    width: 100%;
}

.footer-email-container {
    width: 100%;
    padding: 20px 0px;

    &>span{
        display: inline-block;
        padding: 20px 0px;
    }
    &>.footer-getstarted {
        padding: 20px 0px;
        margin: 0px;

        &>input {

            box-sizing: border-box;
            height: 40px;
            width: 275px;

            &:focus-visible::placeholder {
                color: transparent;
            }
        }

        &>button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            text-wrap: nowrap;
            height: 38px;
            padding: 5px 10px;
            font-size: 1rem;

            &>div {
                font-size: 1rem;
            }

            &>img {
                height: 15px;
                width: 15px;
            }
        }
    }
}